.navbar {
  padding: .8rem;
}

.navbar li {
  padding-right: 2rem;
  font-size: 1rem;
}

.carousel-caption {
  position: absolute;
  top:50%;
  transform: translateY(-50%);
  height: 20vh;
}

.carousel-caption h1 {
  font-size: 3rem;
  text-shadow: 1px 1px 10px #000;
  font-weight: 900;
}

.carousel-caption p {
  text-shadow: 1px 1px 10px #000;
  font-size: 2rem;
  font-weight: 700;
}

hr {
  width: 30%;
  margin: auto;
  margin-top: 2rem;
  margin-bottom: 2rem;
}


@media all and (max-width:1368px) {
  .carousel-caption h1 {
    font-size: 25px;
  }

  .carousel-caption p {
    font-size: 15px;
  }

  .carousel-caption {
    padding-top: 0;
  }

  .caption-1 h1 {
    line-height: 23px;
  }


 

  .caption-1 p {
    line-height: 15px;
  }
}






.fa-code {
  font-size: 64px;
  margin-bottom: 15px;
}

.fa-js {
  font-size: 64px;
  margin-bottom: 15px;
}


.fa-css3 {
  font-size: 64px;
  margin-bottom: 15px;
}


